.hamburger-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &--open {
    position: fixed;
    z-index: 1400;
  }
}

/* Main menu positionning */
.hamburger-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.hamburger-nav.is-open {
  opacity: 1;
  z-index: 1001;
  visibility: visible;
}

/* Yellow band effect */
.hamburger-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: $brightsun;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: transform 0.275s 0.1s;
}

.hamburger-nav.is-open::before {
  transform: skew(-10deg) translateX(0);
}

/* Skewing effect on menu links */
.hamburger-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
  margin-left: 34px;
  @media (max-width: $small-phone) {
    transform: translateX(-8%) skew(-16deg);
  }
}

.hamburger-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #fff;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.hamburger-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.hamburger-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.hamburger-nav li:nth-child(1) {
  transition: all 275ms 175ms;
  clip-path: polygon(18% 0, 100% 5%, 100% 89%, 50% 100%, 0 96%, 0 4%);
}
.hamburger-nav li:nth-child(2) {
  transition: all 275ms 225ms;
  clip-path: polygon(57% 0, 100% 5%, 100% 89%, 74% 100%, 0 92%, 0 4%);
}
.hamburger-nav li:nth-child(3) {
  transition: all 275ms 275ms;
  clip-path: polygon(24% 0, 100% 5%, 100% 89%, 22% 100%, 0 92%, 0 9%);
}
.hamburger-nav li:nth-child(4) {
  transition: all 275ms 325ms;
  clip-path: polygon(24% 0, 100% 5%, 100% 97%, 22% 100%, 0 85%, 0 14%);
}
.hamburger-nav li:nth-child(5) {
  transition: all 275ms 375ms;
}

/* Apparition effect on buttons */
.hamburger-nav button {
  opacity: 0;
  transform: translateY(-10px);
}

.hamburger-nav.is-open button {
  opacity: 1;
  transform: translateY(0);
}
.hamburger-nav li:nth-child(1) button {
  transition: all 275ms 175ms;
}
.hamburger-nav li:nth-child(2) button {
  transition: all 275ms 225ms;
}
.hamburger-nav li:nth-child(3) button {
  transition: all 275ms 275ms;
}
.hamburger-nav li:nth-child(4) button {
  transition: all 275ms 325ms;
}
.hamburger-nav li:nth-child(5) button {
  transition: all 275ms 375ms;
}

/* Decoration */
.hamburger-nav ul,
.hamburger-nav li {
  list-style: none;
  padding: 0;
}
.hamburger-nav button {
  display: block;
  color: #5a3b5d;
  background: none;
  cursor: pointer;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.hamburger-nav a {
  display: block;
  padding: 12px 0;
  color: #5a3b5d;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-hamburger-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1002;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-hamburger-nav:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #8c7d8d;
  transform: skew(5deg);
  transition: transform 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: $voodoo;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #5a3b5d;
}

.hamburger-nav-logged {
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 20px;
  padding: 12px 0;
  color: #5a3b5d;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  z-index: 1222;
  opacity: 0;
  transform: rotate(-2deg);
  transition: opacity 0.2s ease-in;
  &--is-open {
    opacity: 1;
    transition: opacity 0 ease-in;
  }
  @media (orientation: landscape) {
    top: 20px;
    right: 40px;
    left: unset;
  }
  &__text {
    font-size: 20px;
    margin: 0;
  }
  &__logout-btn {
    width: 52px;
    height: 52px;
    padding: 0;
    background-color: transparent;
    background: #fff;
    clip-path: polygon(77% 1%, 100% 25%, 100% 75%, 50% 100%, 0 86%, 0% 25%);
    margin-left: 10px;
    transition: transform 0.5s ease-in;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__username {
    text-decoration: underline;
  }
}
