.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin-bottom: 30px;

  &__paragraph {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    &--mark {
      background: $brightsun;
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  &__title {
    display: block;
    width: 95%;
    margin: 0;
    padding: 16px;
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all 0.25s ease-out;

    &:hover {
      color: $voodoo;
    }

    &::before {
      content: " ";
      display: inline-block;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;
      vertical-align: middle;
      margin-right: 0.7rem;
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }

    &--open::before {
      transform: rotate(90deg) translateX(-3px);
    }
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__counter {
    font-size: 14px;
    margin-top: 12px;
  }

  &__block {
    min-width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
      border: none;
    }

    &--third::after {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      top: 50%;
      left: 100%;
      border: 1px dotted $voodoo;
      width: calc((95vw - (3 * 100%)) / 3);
      max-width: calc((1440px - (3 * 100%)) / 3);

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__image {
    margin-top: auto;

    @media (max-width: $tablet) {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  &__block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100%;
    min-width: 200px;

    @media (max-width: $tablet) {
      margin-top: 100px;
      width: 50%;
      position: relative;
      border: 1px solid black;

      &--first {
        margin-top: 0;
      }
    }

    @media (max-width: $phone) {
      margin-top: 100px;
      width: 95%;
      position: relative;
      border: 1px solid black;

      &--first {
        margin-top: 0;
      }
    }

    &::after {
      @media (max-width: $tablet) {
        content: "";
        position: absolute;
        width: 1px;
        top: 100%;
        left: 50%;
        border: 1px dotted $voodoo;
        height: 100px;
      }
    }
  }

  &__main-title {
    font-size: 24px;
    text-transform: uppercase;
  }

  &__paragraph {
    margin: 0;
    text-align: center;
    line-height: 24px;
  }

  &__title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 95vw;
    max-width: 1440px;
    padding-top: 20px;

    &:hover {
      .steps__block {
        &::after {
          animation: faq-bar 2s ease;
        }
      }
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
