@import '../../styles/variables.scss';

.signUp-wrapper {
    transform: translateX(-200vw);
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 2000;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
    &--active {
        display: fixed;
        transform: translate(-50%, -50%);
    }
}

.signUp {
  opacity: 1;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  &__exit {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }
  &__image {
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
  }
  &__title {
    font-size: 20px;
  }
}

.signUp-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__button {
    margin: 20px 0;
    font-size: 20px;
  }
  &__input {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    width: 300px;
    height: 30px;
  }
  &__label {
    align-self: flex-start;
  }
}
