.loginMobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.3s ease-in;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #fedc2a;
    transform-origin: 0 0;
    transform: skew(-24deg) translateX(-120%);
    transition: transform 0.275s 0.1s;
  }
  &--active {
    opacity: 1;
    z-index: 1502;
    visibility: visible;
    position: fixed;
    &::before {
      transform: skew(-10deg) translateX(0);
    }
  }

  &__exit {
    position: absolute;
    background: none;
    border: none;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  &__image {
    position: absolute;
    right: 30px;
    bottom: 50px;
    width: 142px;
    height: 123px;
    z-index: 1002;
  }
  &__title {
    font-size: 36px;
    margin-top: 10vh;
    color: $voodoo;
    z-index: 1002;
  }
}

.loginMobile-form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1002;
  transform: translateX(-18%);
  transition: transform 0.125s ease-in;
  @media (orientation: landscape) {
    margin-top: 0;
  }
  &--active {
    transform: translateX(0%);
  }
  &__error {
    margin-bottom: 28px;
    z-index: 1002;
    display: none;
    &--active {
      display: block;
    }
  }
  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 60px;
    background: $voodoo;
    font-size: 14px;
    @media (orientation: landscape) {
      height: 40px;
    }
    &--username {
      clip-path: polygon(24% 0, 100% 16%, 100% 80%, 55% 95%, 0 85%, 0 22%);
    }
    &--password {
      margin-top: 40px;
      clip-path: polygon(83% 0, 100% 16%, 100% 90%, 55% 95%, 0 94%, 0 15%);
      @media (orientation: landscape) {
        margin-top: 20px;
      }
    }
  }
  &__input {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border: none;
    background: #fff;
    color: $voodoo;

    &--username {
      clip-path: polygon(24% 0, 100% 16%, 100% 80%, 55% 95%, 0 85%, 0 22%);
    }
    &--password {
      clip-path: polygon(83% 0, 100% 16%, 100% 90%, 55% 95%, 0 94%, 0 15%);
    }
  }
}

.login-signup-mobile-button {
  align-self: flex-end;
}

.loginMobile-error-msg {
  margin-top: 20px;
  margin-left: 20%;
  margin-bottom: -20px;
  font-size: 12px;
  color: $maroon-flush;
  @media (orientation: landscape) {
    margin-left: 0;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  &::before {
    display: inline;
    padding-right: 2px;
    content: "⚠";
  }
}
