/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}


/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }

  .tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes polygon {
  0% { clip-path: polygon(0 84%, 0 17%, 57% 0, 100% 15%, 100% 83%, 39% 100%);}  
  10% { clip-path: polygon(0 76%, 0 0, 71% 0, 100% 20%, 98% 100%, 30% 100%);}
  20% { clip-path: polygon(0 66%, 8% 0, 86% 0, 100% 29%, 90% 100%, 21% 99%);}
  30% { clip-path: polygon(0 53%, 18% 0, 95% 0, 100% 35%, 83% 100%, 16% 100%);}
  40% { clip-path: polygon(0 46%, 24% 0, 100% 4%, 100% 42%, 77% 100%, 9% 100%);}
  50% { clip-path: polygon(0 39%, 33% 0, 100% 8%, 100% 47%, 73% 100%, 5% 100%);}
  60% { clip-path: polygon(0 33%, 38% 0, 100% 12%, 100% 51%, 68% 100%, 0 100%);}
  70% { clip-path: polygon(0 28%, 44% 0, 100% 17%, 100% 57%, 61% 100%, 0 96%);}
  80% { clip-path: polygon(0 23%, 50% 0, 100% 21%, 100% 61%, 56% 100%, 0 92%);}
  90% { clip-path: polygon(0 17%, 55% 0, 100% 27%, 100% 66%, 49% 100%, 0 89%);}
  100% { clip-path: polygon(0 12%, 59% 0, 100% 30%, 100% 71%, 42% 100%, 0 83%);}
}

.polygon-leave-active { animation: 1s polygon; animation-delay: 3s; animation-fill-mode: forwards;}


/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
}

