@import "../styles/_variables";
@import "../styles/_normalize";
@import "../styles/_animations";
@import "../styles/buttons";
@import "../styles/modal";
@import "../styles/loadingSpinner";

@import "../components/_App.scss";
@import "../components/Header/_Header.scss";
@import "../components/Header/_LoginFormHeader.scss";
@import "../components/LocationCard/_LocationCard.scss";
@import "../components/LocationsCardsManager/_LocationsCardsManager.scss";
@import "../components/AddNewLocationForm/_AddNewLocationForm.scss";
@import "../components/Map/_Map.scss";
@import "../components/SignUpWindow/_SignUpWindow.scss";
@import "../components/HamburgerMenu/_HamburgerMenu.scss";
@import "../components//LogInMobile/_LogInMobile.scss";

@import url("https://unpkg.com/leaflet@1.0.1/dist/leaflet.css");

// @import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $pipi;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.main {
  &--blurred {
    filter: blur(3px);
  }
}
