@import "../styles/_variables";
@import "../styles/_normalize";

@import "../components/App.scss";
@import "../components/Header/Header.scss";
@import "../components/Header/LoginFormHeader.scss";
@import "../components/LocationCard/LocationCard.scss";
@import "../components/LocationsCardsManager/LocationsCardsManager.scss";
@import "../components/AddNewLocationForm/AddNewLocationForm.scss";
@import "../components/Map/Map.scss";
@import "../components/SignUpWindow/SignUpWindow.scss";
@import "../components/HamburgerMenu/HamburgerMenu.scss";
@import "../components//LogInMobile/LogInMobile.scss";
@import "../components/SignUpMobile/SignUpMobile.scss";


@import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap&subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $pipi;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
}

.no-scroll {
  overflow: hidden;
}
