.locationCard {
  border: 1px solid black;
  width: 400px;
  max-width: 90%;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(86, 181, 31, 1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(86, 181, 31, 1);
  box-shadow: 0px 0px 15px 3px rgba(86, 181, 31, 1);
  &__address-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__address {
    margin: 0;
    padding: 10px;
    color: #fff;
    &--icon {
      color: #fff;
      padding: 10px;
      font-size: 30px;
    }
  }
  &__btn {
    padding: 0;
    margin: 20px 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 10%;
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: relative;
    transition: transform .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      color: #fff;
    }
    &--submit:hover::before {
      background-color: rgb(46, 87, 6); 
    }
    &--delete:hover::before {
      background-color: rgb(243, 26, 26); 
    }
    &:hover::before {
      display: block;
      position: absolute;
      content: " ";
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10%;
      z-index: -1;
    }
    &::before {
      display: block;
      position: absolute;
      content: " ";
      top: 0;
      width: 0px;
      height: 100%;
      border-radius: 10%;
      transition: width .3s ease-in-out;
    }
  }
  &__btn-wrapper {
    display: flex;
  }
  &__title-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(46, 87, 6);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  }
  &__title {
    margin-top: -10px;
    color: #fff;
  }
  &--subscribed {
    outline: 10px solid red;
  }
}

.mapForCard {
  margin-top: 50px;
  max-height: 300px;
}
