.form-field-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  &__input {
    width: 173px;
    height: 29px;
    background: #ffffff;
    border: 1px solid #a1a4b1;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__submit-btn {
    padding-top: 2px;
    padding-right: 0;
    height: 29px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.logged-wrapper {
  display: flex;
}

.logout-btn {
  margin-left: 20px;
}

.signup {
  font-size: 14px;
  justify-self: flex-end;
  &__btn {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 14px;
    padding: 2px;
    color: red;
    &:hover {
      text-decoration: underline;
    }
  }
}

.signup-wrapper {
  display: flex;
  justify-content: flex-end;
}
