.add-new-location-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.input-wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-new-site-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__button {
    padding: 0 10px;
    margin: 40px 0 0 10px;
    font-size: 16px;
    background: #fff;
    border: none;
    cursor: pointer;
    width: auto;
    height: 70px;
    text-align: right;
    position: relative;
    background-color: $brightsun;
    color: $voodoo;
    clip-path: polygon(33% 0, 100% 4%, 97% 57%, 100% 88%, 4% 100%, 0 6%);
    transition: transform 0.2s ease-in-out;

    &::before {
      display: inline-block;
      position: relative;
      content: "";
      width: 24px;
      height: 24px;
      margin: 0 0px -12px 0px;
      mask: url("../../images/add_icon.svg") no-repeat;
      background: $voodoo;
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__input-wrapper {
    width: 500px;
    max-width: 90vw;
    height: 60px;
    margin-top: 20px;
    padding-top: 3px;
    padding-left: 3px;
    background: $voodoo;
    transition: transform 1s ease;

    &--search {
      clip-path: polygon(50% 0%, 100% 5%, 100% 94%, 50% 100%, 0 93%, 0 4%);
      transform: rotate(-2deg);
    }

    &--name {
      clip-path: polygon(18% 0, 100% 5%, 100% 89%, 50% 100%, 0 77%, 0 4%);
      transform: rotate(1deg);
    }

    &:focus-within {
      transform: rotate(0);
    }
  }

  &__input {
    border: none;
    background: $drover;
    width: calc(100% - 3px);
    max-width: 90vw;
    height: calc(100% - 3px);
    font-size: 18px;
    padding: 20px;

    &--search {
      clip-path: polygon(50% 0%, 100% 5%, 100% 94%, 50% 100%, 0 93%, 0 4%);
    }

    &--name {
      clip-path: polygon(18% 0, 100% 5%, 100% 89%, 50% 100%, 0 77%, 0 4%);
    }
  }
}

.autocomplete-dropdown-container {
  margin-top: 10px;
}

.suggestion-item {
  cursor: pointer;
  text-align: left;
}

.wrap-collabsible {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: $voodoo;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 100vh;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  // background: rgba(250, 224, 66, 0.2);
  // border-bottom: 1px solid rgba(250, 224, 66, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}
