.add-new-location-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.input-wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-new-site-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__input-wrapper {
    width: 500px;
    max-width: 90vw;
    height: 60px;
    margin-top: 20px;
    padding-top: 3px;
    padding-left: 3px;
    background: $voodoo;
    transition: transform 1s ease;

    &--search {
      clip-path: polygon(50% 0%, 100% 5%, 100% 94%, 50% 100%, 0 93%, 0 4%);
      transform: rotate(-2deg);
    }

    &--name {
      clip-path: polygon(18% 0, 100% 5%, 100% 89%, 50% 100%, 0 77%, 0 4%);
      transform: rotate(1deg);
    }

    &:focus-within {
      transform: rotate(0);
    }
  }

  &__input {
    border: none;
    background: $drover;
    width: calc(100% - 3px);
    max-width: 90vw;
    height: calc(100% - 3px);
    font-size: 18px;
    padding: 20px;

    &--search {
      clip-path: polygon(50% 0%, 100% 5%, 100% 94%, 50% 100%, 0 93%, 0 4%);
    }

    &--name {
      clip-path: polygon(18% 0, 100% 5%, 100% 89%, 50% 100%, 0 77%, 0 4%);
    }
  }
}

.autocomplete-dropdown-container {
  margin-top: 10px;
}

.suggestion-item {
  cursor: pointer;
  text-align: left;
}
