.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location-search-input {
    width: 200px;
}

.autocomplete-dropdown-container {
    width: 200px;
    text-align: left;
}

.suggestion-item {
    background-color: #ffffff;
    cursor: pointer;
    &--active {
        background-color: #c5c3c3;
        cursor: pointer;
    }
}
