.leaflet-container {
  height: 400px;
  width: 90%;
  // margin: 0 auto;
  
}

.map {
  margin: 20px 0;
  border-radius: 4px;
  opacity: 0;
  clip-path: polygon(33% 0, 100% 15%, 100% 75%, 85% 100%, 0% 75%, 0% 25%);
  -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
