.table {
  margin: 50px 0;
  text-align: center;
  border-spacing: 0;
  width: 90%;
  &__head-tr {
    height: 50px;
  }
  &__head-th {
    border: 1px solid #000;
    color: #000;
    text-decoration: underline;
    font-weight: 700;
    padding: 0 10px;
  }
  &__body-tr {
    height: 50px;
    &:hover {
      cursor: pointer;
    }
    &--edited {
      animation: blink 1s;
    }
  }
  &__body-td {
    border: 1px solid #000;
    padding: 0 10px;
  }
}
